<div class="jumbotron text-center">
    
    <div class="overlay"></div>
    <div class="background-image"></div>

</div>

<div id="noteModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                <div class="container-fluid text-center">
                    <h2 id='modalTitle' class="mt-2 mb-4"></h2>
                    <ul id="noteList" class="list-group note-container">
                        <li class="list-group-item notesList"></li>
                    </ul>
                    <textarea id="newNoteTextArea" placeholder="New Note" rows="4" cols="60"></textarea>
                    <button id="saveNewNote" class="btn">Save Note</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="articleContainer">

    {{#each article}}

    <div data-_id="{{this._id}}" class="card">

        <div class="card-header">

            <h3 class="container-fluid">
                <a class="article-link saved-article-link" target="_blank" rel="noopener noreferrer" href="{{this.link}}">{{this.title}}</a>
            </h3>
            
            <a class="btn" id="noteButton" data-title="{{this.title}}">Add Note</a>
            <a class="btn btn-danger delete" id="deleteButton" data-title="{{this.title}}">Delete Article</a>

        </div>

        <div class="card-body">{{this.summary}}</div>

    </div>

    {{/each}}

</div>

<script src='/assets/js/savedArticles.js'></script>